$default-gap: 1rem;

.row {
  display: flex;
  flex-wrap: wrap;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    width: calc(100% / 12 *#{$i});
  }
}

[class*="col-"] {
  padding: $default-gap;
}
